<ion-content class="ion-padding">
  <ion-slides pager="true">

    <!-- First Slide -->
    <ion-slide class="ion-padding">
    <img src="https://picsum.photos/200">
      <div class="slide-text">
        <h2>Slide Title</h2>
        <p>Placeholder Text</p>
      </div>

      <div class="slide-navigator">
        <ion-button color="primary" fill="clear" (click)="toLogin()">Skip</ion-button>
        <ion-button color="primary" fill="clear" (click)="nextSlide()">Next</ion-button>
      </div>
    </ion-slide>

    <!-- Second Slide -->
    <ion-slide class="ion-padding">
      <img src="https://picsum.photos/200">
        <div class="slide-text">
          <h2>Slide Title</h2>
          <p>Placeholder Text</p>
        </div>
  
        <div class="slide-navigator">
          <ion-button color="primary" fill="clear" (click)="toLogin()">Skip</ion-button>
          <ion-button color="primary" fill="clear" (click)="nextSlide()">Next</ion-button>
        </div>
      </ion-slide>
  </ion-slides>
</ion-content>